
#ItemBar {
  padding-left: 15px;
  padding-top: 10px;
  background-color: rgb(63, 63, 63);
  width: auto;
  height: 4vh;
}
.photo {
  margin: auto;
  width: 100%;
}

.ExploreItem {
    text-align: left;
    color: white;
    display: inline-block;
    margin: 20px;
    background-color: rgb(211, 211, 211);
    height: 20vh;
    width: 300px;
}

.item-bar-header {
    background-color: rgb(101, 101, 101);
    width: auto;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.item-bar-header-pic {
    height: 55px;
}

.item-bar-header-text {
    padding-left: 25px;
}

.item-bar-description {
    color: black;
    font-size: 20px;
}

.item-bar-header-pic-container {
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.item-bar-description-container {
    padding-top: 30px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item-bar-details {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 118, 5);
}

.item-bar-details a {
    text-decoration: none;
    color: rgb(255, 118, 5);
}

.details-button {
    border: none;
    font-size: 20px;
    color: rgb(255, 118, 5);
    background-color: rgb(211, 211, 211);
}

